.controls__btn {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  width: 70px;
  height: 40px;

  border: none;

  cursor: pointer;
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgb(67, 66, 66);
  background-color: rgba(250, 138, 10);
  transition: all 0.3s ease;
}

.controls__btn:not(:last-child) {
  margin-right: 10px;
}

.controls__btn:hover,
.controls__btn:focus {
  
  transform: scaleX(1.1);
}
